/*表格最小宽度*/

table {
	min-width: 400px;
}


/*消除td标签下p标签的下边距*/

.orderbook td>p {
	margin-bottom: 0;
}


/*媒体查询*/

@media (max-width: 883px) {
	/*可删,测试*/
	h1 {
		color: red;
	}
	/*隐藏 表头*/
	th {
		display: none;
	}
	/*以 块状元素 显示*/
	tr,
	td {
		display: block;
	}
	/*行*/
	tr {
		position: relative;
		margin-bottom: 1em;
		box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
	}
	/*第1个*/
	.student_id {
		text-align: center;
		background-color: #35B558;
		position: relative;
	}
	.student_id p {
		padding-left: 20%;
	}
	.student_id::before {
		content: "学号";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第2个*/
	.name {
		text-align: center;
		position: relative;
	}
	.name p {
		padding-left: 20%;
	}
	.name::before {
		content: "姓名";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第3个*/
	.first_book {
		text-align: center;
		position: relative;
	}
	.first_book p {
		padding-left: 20%;
	}
	.first_book::before {
		content: "计算机网络";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第4个*/
	.second_book {
		text-align: center;
		position: relative;
	}
	.second_book p {
		padding-left: 20%;
	}
	.second_book::before {
		content: "ERP原理、实施与管理";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第5个*/
	.third_book {
		text-align: center;
		position: relative;
	}
	.third_book p {
		padding-left: 20%;
	}
	.third_book::before {
		content: "移动开发技术与应用";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第6个*/
	.fourth_book {
		text-align: center;
		position: relative;
	}
	.fourth_book p {
		padding-left: 20%;
	}
	.fourth_book::before {
		content: "决策支持系统";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第7个*/
	.fifth_book {
		text-align: center;
		position: relative;
	}
	.fifth_book p {
		padding-left: 20%;
	}
	.fifth_book::before {
		content: "IT项目管理";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第8个*/
	.sixth_book {
		text-align: center;
		position: relative;
	}
	.sixth_book p {
		padding-left: 20%;
	}
	.sixth_book::before {
		content: "信息安全";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第9个*/
	.seventh_book {
		text-align: center;
		position: relative;
	}
	.seventh_book p {
		padding-left: 20%;
	}
	.seventh_book::before {
		content: "数据库应用系统设计";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第10个*/
	.eight_book {
		text-align: center;
		position: relative;
	}
	.eight_book p {
		padding-left: 20%;
	}
	.eight_book::before {
		content: "数据处理技术与SPSS";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第11个*/
	.total {
		text-align: center;
		position: relative;
	}
	.total p {
		padding-left: 20%;
	}
	.total::before {
		content: "总量";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第12个*/
	.total_price {
		text-align: center;
		position: relative;
	}
	.total_price p {
		padding-left: 20%;
	}
	.total_price::before {
		content: "总价";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	/*第13个*/
	.pay_status {
		text-align: center;
		position: relative;
	}
	.pay_status p {
		padding-left: 20%;
	}
	.pay_status::before {
		content: "支付状态";
		position: absolute;
		left: 9.2px;
		top: 9.2px;
		font-weight: bold;
	}
	
}